{% extends "template.html" %} {% block title %} Setting up {% endblock %}
{% block content %}
<div align="center">
    <h3>Setting up for a run</h3>
    <br/><br/>
    <h4>Equipment</h4>
    <br/>
    <p>
        For doing a speedrun of Arkham Shadow, you need equipment.<br/>
        One specific piece of equipment that is needed for any full game run is a chaging cable.<br/><br/>
        The type of charging cable that you will need is very specific, you can't just grab some random charging cable, and you can't use the one that cones with the headset.<br/>
    </p>
    <br/>
    <h5>Type of charging cable</h5>
    <p>
        The type of charging cable that you will need depends on multiple different factors.<br/>
        The first thing you will need to consider is your height, the distance between the outsides of your shoulders, and how large your room is.<br/>
        If you are using a standard charging cord, you want to get a charging cable that is at least your height + the furthest point in your room from your charging outlet + 1.5 times the distance between your shoulders + an extra 30 centimeters<br/>
        The reason for this is so that if you are standing at the furthest point in your room, and you turn around wrapping the cord around your legs, which should never be more than 1.5 shoulder widths from each other, you will still have 30 cm of slack and not get tripped up by the cord, using a shorter cord should never be done unless you have someone helping you to stay safe.
    </p>
    <h5>Vitality trackers</h5>
    <p></p>
</div>
{% endblock %}
