{% extends "template.html" %} {% block title %} Running {% endblock %}
{% block content %}
<div align="center">
    <h3>During a run</h3>
    <br/><br/>
    <h4>Temperature control</h4>
    <p>
        Ideally, while doing a run, you want to be in a reasonably cold area, this is for a multitude of reasons including just general well being, it's not great to be sweating too much
    </p>
    <br/><br/>
    <h4>Skips</h4>
    <p>
        There are a multitude of skips throughout the game
    </p>
    <br/>
    <h5>Crime scene/Monarch skip</h5>
    <p>
        This is a two part skip which skips two individual segments in the gotham segment of the game<br/>
        <br/>
        Part 1: Crime scene skip<br/>
        <br/>
        After going behind the bookshelf in Shrikes appartment, you will be forced into a crime scene, Batman will refuse to use the exit vent until you complete the crime scene.<br/>
        Walk up to the vent, and try to forward mantle onto it, then when you start rapidly vibrating, attempt to initiate glides and cape stuns,<br/>
        This will cause batman to move through the closed vent cover into the vent. Continue as normal until you reach the monarch theatre<br/>
        <br/>
        Part 2: Monarch skip<br/>
        <br/>
        Upon arriving at the overlook from Monarch theatre, you may notice the rats and the door to the theatre (which is a cutscene trigger),
    </p>
</div>
{% endblock %}
