<!--Making it extend posts div-->
{% extends "posts_div.html" %} {% block title %}{{username}}'s posts{% endblock %}{% block header %} {{username}}'s posts {% endblock %}
<!--Searching for a specific user-->
{% block usersearch %}
<div align="center"><h3>Find a user</h3></div>
<form method="POST">
    <input type="text" name="username" id="username" class="form-control" placeholder="Enter username of user you want to find" />
    <br/>
    <br/>
    <div align="center">
        <button class="btn btn-primary" type="submit">
            Find user
        </button>
    </div>
</form>
{% endblock %}
{% block footer %}
<!--Link to posts page-->
<div align="center">
    <a href="/blog"> <button type="button" class="btn btn-primary btn-large">All posts</button></a>
</div>
{% endblock %}