{% extends "template.html" %} {% block title %} Forum {% endblock %}
{% block content %}

<h1>Make a post</h1>

<form method="POST">
    <!--Blog title form-->
    <label for="title">Title</label>
    <input type="text" name="title" id="title" class="form-control" placeholder="Post title" />
    <br/>
    <!--Blog content text area-->
    <textarea name="content" id="content" class="form-control"></textarea>
    <br/>
    <!--Submit button-->
    <div align="center">
        <button class="btn btn-primary" type="submit">
            Create post
        </button>
    </div>
</form>


{% endblock %}