{% extends "template.html" %} {% block title %} Log in {% endblock %}
{% block content %}


<!--Start of form-->
<form method="POST">
    <div align="center">
        <h3>Log in</h3>
    </div>
    <br/>
    <div class="form-group" align="center">
        <!--Email form-->
        <label for="email">Email Address</label>
        <br/><br/>
        <input type="email" name="email" id="email" class="form-control" placeholder="Enter email" />
        <br/>
        <!--Password form-->
        <label for="password">Password</label>
        <br/><br/>
        <input type="password" name="password" id="password" class="form-control" placeholder="Enter password" />
        <br/><br/>

        <!--Submit button-->
        <div align="center">
            <button class="btn btn-primary" type="submit">
                Create account
            </button>
        </div>


    </div>

</form>

{% endblock %}
