{% extends "template.html" %} {% block title %} View posts {% endblock %}
{% block content %}
<div align="center">
    <h3>Posts</h3>
</div>
<div id="posts">
    {% for post in posts %}
    <br/>
    <div class="card border-dark" align="center">
        <div class="card-header d-flex justify-content-between align-items-center">
            <a href="/posts/{{post.user.username}}">{{post.user.username}}</a>
        </div>
        <div class="card-body">
            <div class="card-text"><h6>{{post.title}}</h6></div>
        </div>
        <div class="card-body">
            <div class="card-text">{{post.content}}</div>
        </div>
        <div class="card-footer text-muted">{{post.date_created}}</div>
    </div>
    <br/>
    {% endfor %}
</div>
{% block footer %}
<div align="center">
    <a href="forum">
        <button class="btn btn-primary btn-large">
            Create post
        </button>
    </a>
</div>
{% endblock %}
{% endblock %}