{% extends "template.html" %} {% block title %} View posts {% endblock %}
{% block content %}
{% if user.username==username %}
<div align="center"><h3>Your Account</h3></div>
<br/><br/>
<div class="card border-dark" align="center">
    <div class="card-text">Username: {{user.username}}</div>
    <br/>
    <div class="card-text">Email: {{user.email}}</div>
    <br/>
    <div class="card-text">Account creation date: {{user.date_created}}</div>
    <br/>
    <a href="/delete-account/{{user.id}}">Delete Account</a>
</div>
<br/><br/>
{% endif %}
{% block usersearch %}{% endblock %}
<br/><br/>
<div align="center">
    <h3>Posts</h3>
</div>
<div id="posts">
    {% for post in posts %}
    <br/>
    <div class="card border-dark" align="center">
        <div class="card-header d-flex justify-content-between align-items-center">
            <a href="/account/{{post.user.username}}">{{post.user.username}}</a>
            <div>
                <span id="likes-count-{{post.id}}">{{post.likes|length}}</span>
                {% if user.id in post.likes|map(attribute="author")|list %}
                <i class="fas fa-thumbs-up" id="like-button-{{post.id}}" onclick="like({{post.id}})"></i>
                {% else %}
                <i class="far fa-thumbs-up" id="like-button-{{post.id}}" onclick="like({{post.id}})"></i>
                {% endif %}
                <!--Delete and update post dropdown-->
                {% if user.id==post.author %}
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown"></button>
                    <ul class="dropdown-menu">
                        <li><a href="/delete-post/{{post.id}}" class="dropdown-item">Delete</a></li>
                        <li><a href="/update-post/{{post.id}}" class="dropdown-item">Update</a></li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="card-body">
            <div class="card-text"><h6>{{post.title}}</h6></div>
        </div>
        <div class="card-body">
            <div class="card-text">{{post.content}}</div>
        </div>
        <br/>
        <div class="collapse" id="comments-{{post.id}}">
            <div class="card">
                <div class="card-body" id="comments-expanded-{{post.id}}">
                    {% for comment in post.comments %}
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <a href="/account/{{comment.user.username}}">{{comment.user.username}}</a>: {{comment.text}}
                        </div>
                        <div>
                            <small class="text-muted">{{comment.date_created}}</small>
                            {% if user.id==comment.author or user.id==post.author %}
                            <div class="btn-group">
                                <button type="button" class="btn btn-small btn-primary dropdown-toggle" data-bs-toggle="dropdown"></button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/delete-comment/{{comment.id}}" class="dropdown-item">Delete</a>
                                        {% if user.id==comment.author %}
                                        <a href="/update-comment/{{comment.id}}" class="dropdown-item">Update</a>
                                        {% endif %}
                                    </li>
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <p class="card-text">
            {% if post.comments|length>0 %}
            <a data-bs-toggle="collapse" href="#comments-{{post.id}}" role="button">
                <small>View {{post.comments|length}} Comments</small>
            </a>
            {% else %}
            <small class="text-muted">No comments</small>
            {% endif %}
        </p>
        <form class="input-group mb-3" method="POST" action="/create-comment/{{post.id}}">
            <input type="text" id="text" name="text" class="form-control" placeholder="Enter your comment"/>
            <button type="btn" class="btn btn-primary">Comment</button>
        </form>
        <div class="card-footer text-muted">{{post.date_created}}</div>
    </div>
    <br/>
    {% endfor %}
</div>
{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
{% if posts.page==page_num %}
<a class="btn btn-info mb-4" href="{{url_for('views.blog', page=page_num)}}">{{page_num}}</a>
{% else %}
<a class="btn btn-outline-info mb-4" href="{{url_for('views.blog', page=page_num)}}">{{page_num}}</a>
{% endif %}
{% else %}
...
{% endif %}
{% endfor %}

{% block footer %}
<div align="center">
    <a href="forum">
        <button class="btn btn-primary btn-large">
            Create post
        </button>
    </a>
</div>
{% endblock %}
{% endblock %}